<h1>歡迎光臨 FirstApp</h1>
<center>
    <%= link_to "登入", new_sessions_path, class: "btn btn-large btn-primary" %> &nbsp;
    <%= link_to "註冊", new_user_path, class: "btn btn-large btn-danger" %>
</center>
